.git
.expo
.expo-shared
.expo-seed
.gradle-local
node_modules
dist
builds
android
ios
web-build
coverage
stitch
stitch(1)
stitch(2)
stitch(3)
.DS_Store
*.log
.env
.env.*
!.env.example
!.env.production.example
!.env.staging.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
